<div class="footer-box">
<div class="footercontainer">
    <div class="socialIcons">
        <a href="">
            <i class="fa-solid fa-house"></i>
            <div>Home</div>
        </a>
        <a href=""><i class="fa-solid fa-phone"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-solid fa-envelope"></i></i></a>
    </div>
    <div class="footerButtom">
        <p>© Copyright 2024</p>
    </div>
</div>  
</div>