<div class="footer-box">
<div class="footercontainer">
    <div class="socialIcons">
        <a href=""><i class="fa-solid fa-house"></i></a>
        <a href=""><i class="fa-solid fa-phone"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-solid fa-envelope"></i></i></a>
    </div>
    <div class="footer-nav">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Phone">Phone</a></li>
            <li><a href="Facebook">Facebook</a></li>
            <li><a href="E-mail Address">E-mail Address</a></li>
        </ul>
    </div>
    <div class="footerButtom">
        <p>Copyright </p>
    </div>
</div>  
</div>