<nav class="topbar">
  <div class="d-flex justify-content-between container">
    <div>
      <img src="#" alt="LOGO" />
    </div>

    <div class="topbar">
      <ul class="d-flex nav-menu">
        <li><a href="#"> <i class="fa-solid fa-home"></i>Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
