<nav class="topbar">
  <div class="d-flex justify-content-between container">
    <div>
      <img src="#" alt="LOGO" />
    </div>

    <div class="">
      <ul class="d-flex nav-menu">
        <li>
          <a href="/"> <i class="fa-solid fa-home"></i>Home</a>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Service</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
