<!doctype html>
<html lang="en">
  <%- include ("./../components/head.ejs") %>

  <body>
    <%- include("./../components/topbar.ejs") %>
    <div class="about-us">
      <div class="container">
          <div class="about-box">
            <div>

              <h2>About Us</h2>
              <h3>Discover Our Team's Story</h3>
              <p>
                Life Tech Pvt. Ltd. is a modern software company that was founded
                on February 28, 2022. With a vision to improve lives through
                technology, Life Tech's goal is to develop innovative software
                solutions that empower individuals and organizations to make
                positive changes. 
              </p>
  
              <p>
                From the start, Life Tech has been committed to developing and
                delivering software products and services that tackle various
                challenges faced by individuals and businesses. The company
                focuses on utilizing emerging technologies to create solutions
                that enhance productivity, efficiency, and overall well-being.
              </p>
  
              <p>
                Life Tech invests in researching emerging technologies to deliver
                advanced solutions to clients, staying ahead of the curve and
                remaining adaptable in an ever-evolving technology landscape.
              </p>
  
              <p>
                Life Tech Pvt. Ltd. aims to make a significant impact in the
                software industry with its passionate team, innovative solutions,
                and customer-centric approach. The company operates with the motto "Choose
                Life, Change Life," highlighting its commitment to enabling people
                to make informed choices and transform their lives for the better.
              </p>
            </div>
            <div>
             
              <img src="/images/logo.png" alt="About Us" class="img">

            </div>
          </div>
      </div>
    </div>
    <%- include("./../components/footer.ejs") %>
  </body>
</html>
