<!doctype html>
<html>
  <%- include("./../components/head.ejs") %>
  <body>
    <section class="contact container">
      <div class="content">
        <h2>Contact</h2>

        <div style="display: flex; justify-content: space-between">
          <div class="ContactInfo">
            <div class="box">
              <div clas="icon"></div>
              <div clas="text"></div>
              <h3>Email Address</h3>
              <p></p>
            </div>
          </div>
          <div class="box">
            <div class="icon"></div>
            <div class="text"></div>
            <h3>Phone Numver</h3>
            <p>9766459711</p>
          </div>
          <div class="box">
            <div class="icon"></div>
            <div class="text"></div>
            <h3>Open Hours</h3>
            <p>Mon-Fri 10AM-5PM</p>
          </div>
          <div class="box">
            <div class="icon"></div>
            <div class="text"></div>
            <h3>Location</h3>
            <p>Kumaripati, Lalitpur</p>
          </div>
        </div>
      </div>
      <div class="Keep In Touch">
        <form class="keep-in-touch">
          <h2>Keep In Touch</h2>
          <div class="inputBox">
            <input type="text" name="" required="required" />
            <span>Your Name</span>
          </div>
          <div class="inputBox">
            <input type="text" name="" required="required" />
            <span>Your Email</span>
          </div>
          <div class="inputBox">
            <input type="text" name="" required="required" />
            <span>Phone</span>
          </div>
          <div class="inputBox">
            <textarea required="required"></textarea>
            <span>Message</span>
          </div>
          <div class="inputBox">
            <input type="submit" name="" value="Send Message" />
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
