<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <%- include("./../components/head.ejs") %>
  <body>
    <section class="contact container">
      <div class="content">
        <h2>Contact</h2>

    <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">
        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>
    </style>
    <form>

      <label for="name">Name:</label>
      
      <input type="text" id="name" name="name">
      
      <label for="message">Message:</label>
      
      <textarea id="message" name="message"></textarea>
      
      <button type="submit">Submit</button>
      
      </form>
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script defer src="<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;89d59e715c74a62d&quot;,&quot;version&quot;:&quot;2024.4.1&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;}" crossorigin="anonymous"></script>"
      
  </head>
</html>