<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <head>
    <script src="https://embed.tawk.to/_s/v4/app/66790c3897f/js/twk-main.js" charset="UTF-8" crossorigin="*"></script>
    <script src="https://embed.tawk.to/_s/v4/app/66790c3897f/js/twk-vendor.js" charset="UTF-8" crossorigin="*"></script>
    <script src="https://embed.tawk.to/_s/v4/app/66790c3897f/js/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script>
    <script src="https://embed.tawk.to/_s/v4/app/66790c3897f/js/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script>
    <script src="https://embed.tawk.to/_s/v4/app/66790c3897f/js/twk-runtime.js" charset="UTF-8" crossorigin="*"></script>
    <script src="https://embed.tawk.to/_s/v4/app/66790c3897f/js/twk-app.js" charset="UTF-8" crossorigin="*"></script>
    <script async src="https://embed.tawk.to/64139a064247f20fefe65e72/1grm93agh" charset="UTF-8" crossorigin="*"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173946136-1"></script>
    
    <link rel="icon" href="https://scontent.fktm7-1.fna.fbcdn.net/v/t39.30808-6/271733763_8708554372503698_6275360107309011486_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=obGG-8pLu3IQ7kNvgEyOI3Q&_nc_ht=scontent.fktm7-1.fna&oh=00_AYBUq4qZP1T2zb83HGZZ13TIXQ27Z1KgpeCIw_okDaUvlQ&oe=6689DAFC" type="image/png">
    
    <div class="container">
      <form action="action_page.php">
        
      <h2>Contact Us</h2>
        <label for="Your Name">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="Your Email">Email Address</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
    
        <label for="Your Phone Number">Mobile Number</label>
        <select id="text" name="phonenumber" name="phonenumber" placeholder="Your Number...">

    <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">
        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>
    </style>
    <form>

      <label for="name">Name:</label>
      
      <input type="text" id="name" name="name">
      
      <label for="message">Message:</label>
      
      <textarea id="message" name="message"></textarea>
      
      <button type="submit">Submit</button>
      
      </form>
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script defer src="<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;89d59e715c74a62d&quot;,&quot;version&quot;:&quot;2024.4.1&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;}" crossorigin="anonymous"></script>"
      
  </head>
</html>