<<<<<<< HEAD
<!doctype html>
<html lang="en">
<head>
=======
<!DOCTYPE html>
<html lang="en_US" dir="ltr">
  <%- include("./../components/head.ejs") %>
  <body>
    <section class="contact container">
      <div class="content">
        <h2>Contact</h2>
>>>>>>> master

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">

<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
<title>Life Tech Nepal</title>
<script nonce="f4b964f3-f0f2-4bbd-820d-13df872597a9">try{(function(w,d){!function(U,V,W,X){U[W]=U[W]||{};U[W].executed=[];U.zaraz={deferred:[],listeners:[]};U.zaraz._v="5705";U.zaraz.q=[];U.zaraz._f=function(Y){return async function(){var Z=Array.prototype.slice.call(arguments);U.zaraz.q.push({m:Y,a:Z})}};for(const $ of["track","set","debug"])U.zaraz[$]=U.zaraz._f($);U.zaraz.init=()=>{var ba=V.getElementsByTagName(X)[0],bb=V.createElement(X),bc=V.getElementsByTagName("title")[0];bc&&(U[W].t=V.getElementsByTagName("title")[0].text);U[W].x=Math.random();U[W].w=U.screen.width;U[W].h=U.screen.height;U[W].j=U.innerHeight;U[W].e=U.innerWidth;U[W].l=U.location.href;U[W].r=V.referrer;U[W].k=U.screen.colorDepth;U[W].n=V.characterSet;U[W].o=(new Date).getTimezoneOffset();if(U.dataLayer)for(const bg of Object.entries(Object.entries(dataLayer).reduce(((bh,bi)=>({...bh[1],...bi[1]})),{})))zaraz.set(bg[0],bg[1],{scope:"page"});U[W].q=[];for(;U.zaraz.q.length;){const bj=U.zaraz.q.shift();U[W].q.push(bj)}bb.defer=!0;for(const bk of[localStorage,sessionStorage])Object.keys(bk||{}).filter((bm=>bm.startsWith("_zaraz_"))).forEach((bl=>{try{U[W]["z_"+bl.slice(7)]=JSON.parse(bk.getItem(bl))}catch{U[W]["z_"+bl.slice(7)]=bk.getItem(bl)}}));bb.referrerPolicy="origin";bb.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(U[W])));ba.parentNode.insertBefore(bb,ba)};["complete","interactive"].includes(V.readyState)?zaraz.init():U.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document)}catch(e){throw fetch("/cdn-cgi/zaraz/t"),e;};</script></head>
<body>
<div class="content">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 mr-auto">
<div class="mb-5">

</div>
<h2>Contact Us</h2>
<div class="row">
<div class="col-md-6">
  <h3 class="text-white h5 mb-3">Email Address</h3>
<ul class="list-unstyled mb-5">
<li class="d-flex text-white mb-2">
  <p><i class="fas fa-envelope"></i>lifetech@gmail.com</p>
</li>
</ul>
</div>

<h3 class="text-white h5 mb-3">Phone Number</h3>
<ul class="list-unstyled mb-5">
<li class="d-flex text-white mb-2">
  <p><i class="fas fa-phone"></i>9768484848</p>
</li>
</ul>
</div>

<div class="col-md-6">
<h3 class="text-white h5 mb-3">Open Hours</h3>
<ul class="list-unstyled mb-5">
<li class="d-flex text-white mb-2">
  <p><i class="fas fa-clock"></i>Mon-Fri<br>10AM-5PM</br></p>
</ul>
</div>
<h3 class="text-white h5 mb-3">location</h3>
<ul class="list-unstyled mb-5">
<li class="d-flex text-white mb-2">
  <p><i class="fas fa-location"></i>Kumaripati, Lalitpur</p>
</ul>
</div>
</div>
<div class="col-lg-6">
<div class="box">
<h3 class="heading">Send us a message</h3>
<form class="mb-5" method="post" id="contactForm" name="contactForm">
<div class="row">
<div class="col-md-12 form-group">
<label for="name" class="col-form-label">Name</label>
<input type="text" class="form-control" name="name" id="name">
</div>
</div>
<div class="row">
<div class="col-md-12 form-group">
<label for="email" class="col-form-label">Email</label>
<input type="text" class="form-control" name="email" id="email">
</div>
</div>
<div class="row mb-3">
<div class="col-md-12 form-group">
<label for="message" class="col-form-label">Message</label>
<textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
</div>
</div>
<div class="row">
<div class="col-md-12">
<input type="submit" value="Send Message" class="btn btn-block btn-primary rounded-0 py-2 px-4">
<span class="submitting"></span>
</div>
</div>
</form>
<div id="form-message-warning mt-4"></div>
<div id="form-message-success">
Your message was sent, thank you!
</div>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"89d5c2925945988e","version":"2024.4.1","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
</body>
</html>