<!doctype html>
<html lang="en">
  <%- include("./../components/head.ejs") %>

  <body>
    <%- include("./../components/topbar.ejs") %>
    <div class="main position-relative d-flex align-items-center">
      <div class="position-absolute w-100">
        <img
          class="bgimg"
          src="images/BannerLifeTech.png"
          alt=""
        />
      </div>
      <div class="content container">
        <h1>We have 2+ Years of Experienced Experts</h1>
        <!-- <button>About Us</button> -->
      </div>
    </div>
    <div class="main container">
      <!-- WHAT WE OFFER -->
      <div class="pt-b pb-5">
        <div class="text-center title-box">
          
        </div>

        <div class="title-cards">
          <div class="title-card">
            <div class="card-icon">
              <i class="fa-brands fa-digital-ocean"></i>
            </div>
            <h3>Web Designing & development</h3>
            <p>
              We offer digital transformation services, helping businesses
              streamline their operations, improve their customer experience,
              and drive growth through the use of technology.
            </p>
          </div>

          <div class="title-card">
            <div class="card-icon">
              <i class="fa-solid fa-lightbulb"></i>
            </div>
            <h3>Software Development</h3>
            <p>
              We specialize in developing custom software solutions that meet
              the unique needs of their clients.
            </p>
          </div>

          <div class="title-card">
            <div class="card-icon">
              <i class="fa-duotone fa-browser"></i>
            </div>
            <h3>Digital Age</h3>
            <p>
              We specialize in developing custom software solutions that meet
              the unique needs of their clients.
            </p>
          </div>
        </div>
      </div>

      <!-- WORK PROCESS -->
      <div class="pb-5 pt-5">
        <div class="text-center title-box">
          <p>Journey</p>
          <h2>Work Process</h2>
        </div>

        <div class="process-list d-flex justify-content-between">
          <div class="process">
            <img
              src="https://encodenepal.com/assets/frontend/img/icon/work-process-1.svg"
              alt=""
            />
            <span>1</span>
            <p>Plan</p>
          </div>

          <div class="process">
            <img
              src="https://encodenepal.com/assets/frontend/img/icon/work-process-2.svg"
              alt=""
            />
            <span>2</span>
            <p>Execute</p>
          </div>

          <div class="process">
            <img
              src="https://encodenepal.com/assets/frontend/img/icon/work-process-3.svg"
              alt=""
            />
            <span>3</span>
            <p>Test</p>
          </div>

          <div class="process">
            <img
              src="https://encodenepal.com/assets/frontend/img/icon/work-process-4.svg"
              alt=""
            />
            <span>4</span>
            <p>Monitor</p>
          </div>

          <div class="process">
            <img
              src="https://encodenepal.com/assets/frontend/img/icon/work-process-5.svg"
              alt=""
            />
            <span>5</span>
            <p>Transform</p>
          </div>
        </div>
      </div>

      <!-- WHAT PEOPLE SAYS -->
      <div class="pt-5 pb-5">
        <div class="text-center title-box">
          <p>Testimonials</p>
          <h2>What We Offer</h2>
        </div>
        <div class="owl-carousel">
          <div class="carousel-card text-center bg-card">
            <i
              class="fa-solid fa-quote-left mt-3 mb-3 m-auto"
              style="font-size: 40px"
            ></i>
            <p>
              Hello world i am nilaw manandhar from nepal. I am now 23 years old
              thank you very much
            </p>

            <div class="d-flex justify-content-center">
              <img src="" alt="profile" />
              <div>
                <h5>Nilaw Manandhar</h5>
                <h6>CEO</h6>
              </div>
            </div>
          </div>
          <div class="carousel-card text-center bg-card">
            <i
              class="fa-solid fa-quote-left mt-3 mb-3 m-auto"
              style="font-size: 40px"
            ></i>
            <p>
              Hello world i am nilaw manandhar from nepal. I am now 23 years old
              thank you very much
            </p>

            <div class="d-flex justify-content-center">
              <img src="" alt="profile" />
              <div>
                <h5>Nilaw Manandhar</h5>
                <h6>CEO</h6>
              </div>
            </div>
          </div>
          <div class="carousel-card text-center bg-card">
            <i
              class="fa-solid fa-quote-left mt-3 mb-3 m-auto"
              style="font-size: 40px"
            ></i>
            <p>
              Hello world i am nilaw manandhar from nepal. I am now 23 years old
              thank you very much
            </p>

            <div class="d-flex justify-content-center">
              <img src="" alt="profile" />
              <div>
                <h5>Nilaw Manandhar</h5>
                <h6>CEO</h6>
              </div>
            </div>
          </div>
          <div class="carousel-card text-center bg-card">
            <i
              class="fa-solid fa-quote-left mt-3 mb-3 m-auto"
              style="font-size: 40px"
            ></i>
            <p>
              Hello world i am nilaw manandhar from nepal. I am now 23 years old
              thank you very much
            </p>

            <div class="d-flex justify-content-center">
              <img src="" alt="profile" />
              <div>
                <h5>Nilaw Manandhar</h5>
                <h6>CEO</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("./../components/foot.ejs") %>
    <%- include("./../components/footer.ejs") %>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          margin: 10,
          loop: true,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
            },
            550: {
              items: 2,
            },
            990: {
              items: 3,
            },
          },
        });
      });
    </script>
  </body>
</html>
