<!DOCTYPE html>
<html lang="en">

<%- include("./../components/head.ejs") %>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <img class="logo" src="https://scontent.fktm8-1.fna.fbcdn.net/v/t39.30808-6/271733763_8708554372503698_6275360107309011486_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=2ITmtB3Sl2AQ7kNvgHELkeb&_nc_ht=scontent.fktm8-1.fna&oh=00_AYDK7oJTfF0w_SlwHM2iIKN7nRtyPRPn4-0cmjZGgFbLFQ&oe=66772DBC"></img>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">CONTACT</a></li>

                </ul>
            </div>
            <div>
                <div class="search_container">
                    <input class="search" name="" placeholder="Enter for information">
                    <a href="#"><button class="btn">Search</button></a>
                </div>
            </div>
        </div>
        <div class="content">
            <h1>We have 15+ Years<br><span>of Experience</span></h1>
        </div>
    </div>
</body>
</html>