<!doctype html>
<!doctype html>
<html lang="en">
<%- include ("./../components/head.ejs") %>
<%- include("./../components/topbar.ejs") %>
  <body>
    
    <div class="section">
      <div class="container">
        <div class="title">
          <h1>Our Services</h1>
        </div>
        <div class="services">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <h2>Planning</h2>
            <p>Hello</p>
            <a href="" class="button">Read More</a>
          </div>

          <div class="card">
            <div class="icon">
              <i class="fas fa-wrench"></i>
            </div>
            <h2>Renovation</h2>
            <p>Hello</p>
            <a href="" class="button">Read More</a>
          </div>
          <div class="card">
            <div class="icon">
              <i class="fas fa-handshake"></i>
            </div>
            <h2>Support</h2>
            <p>Hello</p>
            <a href="" class="button">Read More</a>
          </div>
        </div>
      </div>
    </div>
    
    <%- include("./../components/footer") %>
  </body>
</html>
