* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.contact {
  /* background-image: url("./../images/LifeTechLogo.png"); */
  background-color: brown;
  height: 100%;
}
.contact .content {
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #0a0909;
}
.contact .content p {
  font-weight: 300;
  color: #1a1818;
}
.contact
{
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: top;
    margin-top: 30px;
}
body {
  background: brown;
}
