footer{
    background-color: #111;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcon a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color:white;
    transition: 0.5;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type:  none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7s;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1; 
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center; 
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width:700px){
    .footerNav ul{
        flex-direction: column; 
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.footerButtom {
    background-color: #202334;
    padding: 10px;
    text-align: center;

}
  
.footerButtom p {
color: white;
font-size: 17px;
}

.footer-nav {
    ul{
    display: flex;
    justify-content: center;
    }
}

