.topbar {
  background: linear-gradient(45deg, #d82d26, #a42220);;
  z-index: 999;
  position: sticky;
  top: 0;
  padding: 10px 0;

  .nav-menu {
    gap: 50px;

    li {
      a {
        color: white;
      }
    }
  }
}
